<h2>Edit Study</h2>
<%= render 'flashes' %>
<%= simple_form_for @study, html: { class: 'form-horizontal' } do |f| %>
  <%= f.input :name, wrapper: :horizontal_form %>
  <%= f.input :authors, wrapper: :horizontal_form %>
  <%= f.input :year, as: :integer, wrapper: :horizontal_form %>
  <div class="form-actions form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <%= f.button :submit %>
      <%= link_to "Cancel", studies_path, class: 'btn btn-default' %>
    </div>
  </div>
<% end %>
