<h2>Your Studies</h2>
<%= render 'flashes' %>
<table class="table table-striped data-table">
  <thead>
    <th>ID</th>
    <th>Name</th>
    <th>Authors</th>
    <th>Year</th>
    <th></th>
  </thead>
  <tbody>
    <% @studies.each do |study| %>
      <tr>
        <td><%= study.id %></td>
        <td><%= study.name %></td>
        <td><%= study.authors %></td>
        <td><%= study.year %></td>
        <td>
          <div class="btn-group pull-right">
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-cog"></i>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu pull-right">
              <li><%= link_to 'Edit', edit_study_path(study) %></li>
              <li><%= link_to 'Delete', study_path(study), method: :delete, title: 'Delete', data: { confirm: "Are you sure?" } %></li>
            </ul>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "New Study", new_study_path, class: 'btn btn-primary' %>
