<!DOCTYPE html>
<html>
  <head>
    <title>MetaAnalyzer</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Meta Analyzer</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <%= nav_bar do %>
            <%= nav_link "Home", root_path %>
            <%= nav_link "Meta Analyses", meta_analyses_path %>
            <%= nav_link "About", static_about_path  %>
          <% end %>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div class="container">
      <div class="main">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
